.layout-header{
    background-color: yellow;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-web-name{
    font-size: 20px;
    /* padding-left: 20px; */
}

.layout-header-left{
    padding-left: 20px;
}

.layout-header-right{
    display: none;
}

.layout-header-links{
    padding: 0 10px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }